<!DOCTYPE html>
<html amp>
  <!-- Html Head Tag-->
  <%- partial('_partial/html-head') %>
  <body>
    <%- body %>
    <%- partial('_partial/svg-icons') -%>
    <%- partial('_partial/footer') -%>
    <%- partial('_partial/after-footer',{post:page}) -%>
  </body>
</html>
