<!DOCTYPE html>
<html amp>
  <!-- Html Head Tag-->
  <%- partial('_partial/html-head') %>
  <body>
    <!--{% include header-default.amp.html %}-->
    <section class="content">
      <%- body %>
    </section>
    <%- partial('_partial/svg-icons') -%>
    <%- partial('_partial/footer') -%>
    <%- partial('_partial/after-footer') -%>
  </body>
</html>
