<%
var mitag = '';
var canonical = url_for(page.path).replace('index.html','');

if (page.tags) {
   page.tags.forEach(function(tag){
        mitag += tag.name + " ";
   })
}
-%>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="description" content="<%= page.description || '' %>">
  <meta name="author" content="<%= config.author || '' %>">
  <!--<meta name="keywords" content="<%= mitag -%>">-->
    
  <link rel="canonical" href="<%= canonical %>">

  <!-- Open Graph Data -->
  
  <%- open_graph({
      type: page.title ? 'article' : 'website',
      title: page.title ? page.title : config.title,
      url: canonical,
      image: page.image ? page.image : 'default',
      twitter_card: 'summary_large_image',
      twitter_site: '@elbaulp', <!--TODO-->
      twitter_id: '@elbaulp',
      google_plus: 'https://plus.google.com/+Elbauldelprogramador'
  }) -%>

  <meta property="fb:pages" content="139660486080346" />
  <meta property="article:publisher" content="http://facebook.com/elbauldelprogramador" />
  <meta property="article:author" content="http://facebook.com/elbauldelprogramador" />
  <!-- Android Lolipop Theme Color -->
  <meta name="theme-color" content="<%= page.color -%>">
    
  <!-- Feeds -->
  <%- feed_tag('/feed',             {title:config.title + ' Feed'}) %>
  <%- feed_tag('/feed-android',     {title:config.title + ' Feed | Android'}) %>
  <%- feed_tag('/feed-articulos',   {title:config.title + ' Feed | Artículos'}) %>
  <%- feed_tag('/feed-dev',         {title:config.title + ' Feed | Desarrollo'}) %>
  <%- feed_tag('/feed-geek',        {title:config.title + ' Feed | Geek'}) %>
  <%- feed_tag('/feed-java',        {title:config.title + ' Feed | Java'}) %>
  <%- feed_tag('/feed-latex',       {title:config.title + ' Feed | LaTeX'}) %>
  <%- feed_tag('/feed-security-now',{title:config.title + ' Feed | Security Now!'}) %>

  <% if (theme.rss) { %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon) { %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <!-- Site Title -->
  <title><%- config.title %></title>

  <!-- Bootstrap CSS -->
  <%- css('css/main.css') %>
  <!-- Custom CSS -->
  <!--<% var targetStyle = 'css/style.' + (config.theme_style || 'light') + '.css' %>-->
  <!--<%- css(targetStyle) %>-->

  <!-- Google Analytics -->
  <%- partial('google-analytics') -%>
  <!-- Google AMP -->
  <%- partial('google-amp') -%>
  <!-- Schema -->
  <%- partial('schema', {canonical: canonical}) -%>
</head>
