<%- partial('_partial/header', {
    headerType: 'post',
    post: post
    }) %>

<amp-image-lightbox id="lightbox1"
                    layout="nodisplay"></amp-image-lightbox>
<!--{% include header-post.amp.html %}-->
<section class="post">
  <%- partial('_partial/share') -%>
  <div class="near-posts">
    <!-- TODO -->
  </div>
  <article role="article" id="post" class="post-content">
    <%
       var splitter = post.content.split('<!--ad-->');
       splitter;
    %>
    <%- splitter[0] -%>
    <hr/>
    <%- partial('_partial/ad') -%>
    <hr/>
    <%- splitter[1] -%>
  </article>
  <%- partial('_partial/share') -%>
  <!--
      {% include share.amp.html %}
      {% include popular.posts.html %}
      {% include author.amp.html %}
      {% include comments.html %}
    -->
</section>
